<div class="page-wrapper">

  <header>
  </header>
    
  <main>

    <form>
      <label>
        <input type="text" name="new_movie" placeholder="Enter movie title...">
      </label>
      <button>Add Movie</button>
    </form>

    <ul class="movies seen-movies">
      <h2>Already Seen</h2>
    </ul>

    <div class="divider"></div>

    <ul class="movies unseen-movies">
      <h2>Want to See</h2>
    </ul>

  </main>

  <footer>
  </footer>

</div>

<script type="template" class="movie_template">
  <li class="<%%= movie.get('seen') ? 'seen' : '' %>">
    <h3 class="movie-title"><%%= movie.get('title') %></h3>
    <img src="<%%= movie.get('poster') %>"><br/>
    Seen 
    <input type="checkbox" <%%= movie.get('seen')? 'checked' : '' %> />
    <span>&times;</span>
  </li>
</script>

<script type="text/javascript">
  var movies = new MovieCollection();
  // var unseenMovies = movies.customFilter(
    // {seen: false});
  
  var unseenListView = new UnseenListView(
    {collection: movies} );
  var formView = new FormView(
    {collection: movies} );

  movies.fetch();
  
  

  // unseenMovies.fetch();

  //   .always(function() {
  //     console.log(movies);
  //   }
  // );

</script>

