<div class="page-wrapper">

  <header>
  </header>
    
  <main>

    <form>
      <label>
        <input type="text" name="new_movie" placeholder="Enter movie title...">
      </label>
      <button>Add Movie</button>
    </form>

    <div class="errors">
      <span class="error">

      </span>
    </div>

    <div class="potential-movies">
      <h2 class="potential-title hidden">
        Click to add:
      </h2>
      <ul class="movie-choices"></ul>
    </div>

    <div class="movies seen-movies">
      <h2 class="seen-unseen">Already Seen:</h2>
      <ul class="seen-list">
      </ul>
    </div>

    <div class="movies unseen-movies">
      <h2 class="seen-unseen">Want to See:</h2>
      <ul class="unseen-list">
      </ul>
    </div>

  </main>

  <footer>
  </footer>

</div>

<script type="template" class="movie_template">
  <li class="<%%= movie.get('seen') ? 'seen' : '' %>">
    <div class="movie-title">
      <h3 class="title-text">
        <%%= movie.get('title') %>
      </h3>
    </div>

    <a href="<%%= movie.get('link') || 'http://rottentomatoes.com' %>">
      <img class="poster" src="<%%= movie.get('poster') %>">
    </a><br/>
    
    <input type="checkbox" <%%= movie.get('seen')? 'checked' : '' %> />
    <span class="seen-label">Seen</span>
    
    <button class="delete">Delete</button>
  </li>
</script>

<script type="template" class="potential_movie_template">
  
    <div class="movie-title">
      <h3 class="title-text">
        <%%= movie.get('title') %>
      </h3>
    </div>

    <img class="poster" src="<%%= movie.get('poster') %>">
    </a><br/>    
  
</script>

<script type="text/javascript">
  var movies = new MovieCollection();
  var potentialMovies = new MovieChoiceCollection();
  var listView = new ListView(
    { collection: movies } );
  var formView = new FormView(
    { model: new MovieChoice(), collection: movies } );

  movies.fetch();
</script>

