<div class="page-wrapper">
  <div class="top-black">
  </div>

  <header>
    <!-- <h1>Movie Checker</h1> -->
  </header>
    
  <main>

    <form>
      <label>
        <input type="text" name="new_movie" placeholder="Enter movie title...">
      </label>
      <button>Add Movie</button>
    </form>

    <ul class="movies">
    </ul>
  </main>

  <footer>
  </footer>

</div>

<script type="template" class="movie_template">
  <li class="<%%= movie.get('seen') ? 'seen' : '' %>">
    <h3><%%= movie.get('title') %></h3>
    <img src="<%%= movie.get('poster') %>" /><br/>
    Seen 
    <input type="checkbox" <%%= movie.get('seen')? 'checked' : '' %> />
    <span>&times;</span>
  </li>
</script>