@import url(http://fonts.googleapis.com/css?family=Rye);

header {
  top: 0;
  height: 300px;
  background: url("movie_background.jpg");
  background-size: cover;
  background-position: center;

  h1 {
    font-family: 'Rye', serif;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
  }
}

form {
  padding-top: 25px;
  width: 350px;
  margin: 0 auto;
  
  button {
    background: black;
    color: white;
  }
}

main {
  background: url("movie_curtains.jpg");
  background-size: cover;
  background-position: center;
}

img {
  width: 144px;
  height: 226px;
}

ul {
  padding-bottom: 100px;
  list-style-type: none;

  li {
    width: 300px;
    margin: 0 auto;
    padding-top: 25px;
    color: white;

    h3 {

    }
  }
}

.seen {
  text-decoration: line-through;
  color: red;
}

li span {
  cursor: pointer;
}