@import url(http://fonts.googleapis.com/css?family=Rye);

.top-black {
  height: 30px;
  background: black;
}

header {
  top: 0;
  height: 400px;
  background: url("movie_background_title.jpg");
  background-size: cover;
  background-position: top;

  h1 {
    font-family: 'Rye', serif;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
  }
}

form {
  padding-top: 50px;
  width: 350px;
  margin: 0 auto;

  button {
    background: black;
    color: white;
  }
}

main {
  background: url("movie_curtains.jpg");
  background-size: cover;
  background-position: center;

  margin-bottom: -10px;
}

img {
  width: 144px;
  height: 226px;
}

ul {
  padding-bottom: 100px;
  list-style-type: none;

  li {
    width: 250px;
    margin: 0 auto;
    padding-top: 25px;
    color: white;

    span {
      cursor: pointer;
    }
  }
}

.seen {
  text-decoration: line-through;
  color: red;
}

footer {
  margin-top: -20px;
  height: 75px;
  background: black;
}
