@import url(http://fonts.googleapis.com/css?family=Rye);

header {
  top: 0;
  height: 150px;
  background: url("single_film.jpg");
  background-size: center;
}

form {
  padding-top: 50px;
  width: 400px;
  margin: 0 auto;

  input {
    padding: 10px;
  }

  button {
    background: grey;
    color: white;
    font-size: 1.3em;
    border-radius: 7px;
    border: 0;
    margin-left: 10px;
    padding: 11px;
  }
}

main {
  background: url("movie_curtains.jpg");
  background-size: cover;
  background-position: center;

  margin-bottom: -10px;
}

img {
  width: 144px;
  height: 226px;
}

ul {
  padding: 0 0 100px 0;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  color: white;

  li {
    width: 144px;
    margin: 0 auto;
    padding-top: 25px;
    color: white;

    span {
      cursor: pointer;
    }

    .movie-title {
      text-align: center;
    }
  }

  /*h2 {
    text-align: center;
    color: white;
  }*/
}

.seen-movies {
  width: 48%;
  border-right: 3px solid white;
}

.unseen-movies {
  width: 48%;
}

.seen {
  text-decoration: line-through;
  color: red;
}

footer {
  margin-top: -20px;
  height: 75px;
  background: black;
}
